<!-- <iframe class="w-full h-full absolute" src="https://www.youtube.com/embed/Dydmpfo68DA?autoplay=1&mute=1&loop=1&controls=0" frameborder="0"></iframe>

<div class="h-screen bg-white">
  <div class="pt-[20%] px-24 absolute h-full text-white bg-gradient-to-r from-black">
    <h1 class="text-6xl font-bold">Animal</h1>
    <p class="inline-block py-6 text-xl w-1/4 flex-wrap">A father, who is often away due to work, is unable to comprehend the intensity of his son's love. Ironically, this fervent love and admiration for his father and family creates conflict between the father and son.</p>
    <div>
      <button class="bg-white text-black py-4 px-12 text-xl rounded-lg hover:bg-opacity-70 transition-[1s]">
        ▶️ Play
      </button>
      <button class="mx-2 bg-gray-500 text-white px-12 py-4 text-xl bg-opacity-50 rounded-lg">
        More Info
      </button>
    </div>
  </div>

</div> -->

<!-- <iframe class="w-full h-full absolute" [src]="videoUrl" frameborder="0"></iframe>

<div class="h-screen bg-white">
  <div class="pt-[15%] px-24 absolute h-full text-white bg-gradient-to-r from-black">
    <h1 class="text-6xl font-bold">{{bannerTittle}}</h1>
    <p class="inline-block py-6 text-xl w-1/4 flex-wrap">{{bannerOverview}}</p>
  <div>
    <button class="bg-white text-black py-4 px-12 text-xl rounded-lg hover:bg-opacity-70 transition-[1s]">
      ▶️ Play
    </button>
    <button class="mx-2 bg-gray-500 text-white px-12 py-4 text-xl bg-opacity-50 rounded-lg">
      More Info
    </button>
  </div>
  </div>
</div> -->

<div class="relative h-screen bg-white">
  <iframe class="w-full h-full absolute sm:aspect-w-1 sm:aspect-h-1" [src]="videoUrl" frameborder="0"></iframe>

  <div class="absolute inset-0 flex flex-col items-center justify-center text-white bg-gradient-to-r from-black">
    <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-bold mb-4 sm:mb-6 lg:mb-8">{{bannerTittle}}</h1>
    <p class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl py-6 w-1/2 sm:w-1/3">{{bannerOverview}}</p>

    <div class="flex">
      <button class="bg-white text-black py-2 sm:py-3 px-6 sm:px-8 text-base sm:text-lg rounded-lg hover:bg-opacity-70 transition-[1s]">
        ▶️ Play
      </button>
      <button class="mx-2 bg-gray-500 text-white px-6 py-2 sm:py-3 text-base sm:text-lg bg-opacity-50 rounded-lg">
        More Info
      </button>
    </div>
  </div>
</div>
